<a href="https://colab.research.google.com/github/Itzz-Hashan/Client-Prediction-System/blob/Data-cleaning-process/Preproccesing/Preproccesing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# File path to the original dataset
file_path = "bank-additional-full.csv"

# Load the dataset with the correct delimiter
data = pd.read_csv(file_path, delimiter=";")

# Save the dataset as a new CSV file
new_file_path = "bank-add-new-dataset.csv"
data.to_csv(new_file_path, index=False)

print(f"New dataset saved as: {new_file_path}")

New dataset saved as: bank-add-new-dataset.csv

Duplicates checkout

In [ ]:
import pandas as pd

# Load the dataset
file_path = "bank-add-new-dataset.csv"
data = pd.read_csv(file_path)

# Check for duplicates
duplicate_count = data.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Display the duplicate rows
if duplicate_count > 0:
    duplicates = data[data.duplicated()]
    print("Duplicate rows:")
    print(duplicates)
else:
    print("No duplicate rows found.")

# Remove duplicates if any
data_cleaned = data.drop_duplicates()

# Save the cleaned dataset
cleaned_file_path = "bank-add-new-dataset-cleaned.csv"
data_cleaned.to_csv(cleaned_file_path, index=False)
print(f"Cleaned dataset saved as: {cleaned_file_path}")

Number of duplicate rows: 12
Duplicate rows:
       age          job   marital            education  default housing loan  \
1266    39  blue-collar   married             basic.6y       no      no   no
12261   36      retired   married              unknown       no      no   no
14234   27   technician    single  professional.course       no      no   no
16956   47   technician  divorced          high.school       no     yes   no
18465   32   technician    single  professional.course       no     yes   no
20216   55     services   married          high.school  unknown      no   no
20534   41   technician   married  professional.course       no     yes   no
25217   39       admin.   married    university.degree       no      no   no
28477   24     services    single          high.school       no     yes   no
32516   35       admin.   married    university.degree       no     yes   no
36951   45       admin.   married    university.degree       no      no   no
38281   71      retired    single    university.degree       no      no   no

         contact month day_of_week  ...  campaign  pdays  previous  \
1266   telephone   may         thu  ...         1    999         0
12261  telephone   jul         thu  ...         1    999         0
14234   cellular   jul         mon  ...         2    999         0
16956   cellular   jul         thu  ...         3    999         0
18465   cellular   jul         thu  ...         1    999         0
20216   cellular   aug         mon  ...         1    999         0
20534   cellular   aug         tue  ...         1    999         0
25217   cellular   nov         tue  ...         2    999         0
28477   cellular   apr         tue  ...         1    999         0
32516   cellular   may         fri  ...         4    999         0
36951   cellular   jul         thu  ...         1    999         0
38281  telephone   oct         tue  ...         1    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
1266   nonexistent          1.1          93.994          -36.4      4.855
12261  nonexistent          1.4          93.918          -42.7      4.966
14234  nonexistent          1.4          93.918          -42.7      4.962
16956  nonexistent          1.4          93.918          -42.7      4.962
18465  nonexistent          1.4          93.918          -42.7      4.968
20216  nonexistent          1.4          93.444          -36.1      4.965
20534  nonexistent          1.4          93.444          -36.1      4.966
25217  nonexistent         -0.1          93.200          -42.0      4.153
28477  nonexistent         -1.8          93.075          -47.1      1.423
32516  nonexistent         -1.8          92.893          -46.2      1.313
36951  nonexistent         -2.9          92.469          -33.6      1.072
38281  nonexistent         -3.4          92.431          -26.9      0.742

       nr.employed    y
1266        5191.0   no
12261       5228.1   no
14234       5228.1   no
16956       5228.1   no
18465       5228.1   no
20216       5228.1   no
20534       5228.1   no
25217       5195.8   no
28477       5099.1   no
32516       5099.1   no
36951       5076.2  yes
38281       5017.5   no

[12 rows x 21 columns]
Cleaned dataset saved as: bank-add-new-dataset-cleaned.csv


Encoded dataset

In [5]:
import pandas as pd

# Load the dataset
file_path = 'bank-add-new-dataset-cleaned (1).csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data.head()


# Identify categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Perform one-hot encoding
encoded_data = pd.get_dummies(data, columns=categorical_columns, drop_first=True)

# Save the encoded dataset to a new CSV file
encoded_file_path = 'Encoded_dataset.csv'
encoded_data.to_csv(encoded_file_path, index=False)

encoded_file_path

'Encoded_dataset.csv'