<a href="https://colab.research.google.com/github/Itzz-Hashan/Client-Prediction-System/blob/main/CM2604/CLIENT_PREDICTION_20230657.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# ML Coursework

##Data preproccesing

###Importing libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

###Separate columns in dataset

In [5]:
df = pd.read_csv('bank-additional-full.csv',delimiter=';')

new_file = ('new_bank-additional-full.csv')
df.to_csv(new_file,index=False)

print(f"Dataset saved as {new_file}")

Dataset saved as new_bank-additional-full.csv

###Data importing

In [7]:
df = pd.read_csv('new_bank-additional-full.csv')

df.sample(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
16532,28,admin.,married,university.degree,no,no,no,cellular,jul,wed,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
11616,27,services,single,high.school,unknown,yes,yes,telephone,jun,fri,...,26,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
26951,54,entrepreneur,divorced,university.degree,no,yes,yes,telephone,nov,thu,...,3,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
5483,42,housemaid,married,professional.course,no,yes,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
34786,24,management,married,university.degree,no,no,no,telephone,may,thu,...,5,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,no
6692,39,admin.,married,basic.6y,unknown,no,no,telephone,may,wed,...,6,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
26584,50,technician,married,professional.course,no,yes,no,cellular,nov,thu,...,1,999,1,failure,-0.1,93.200,-42.0,4.076,5195.8,no
21541,35,entrepreneur,divorced,professional.course,unknown,unknown,unknown,cellular,aug,tue,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,yes
1301,33,services,married,university.degree,no,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
11640,28,blue-collar,married,basic.6y,unknown,yes,no,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no

###Handaling the duplicates data

In [8]:
count=df.duplicated().sum()
print(f"Duplicates-{count}")

Duplicates-12

In [9]:
if count>0:
  duplicates=df[df.duplicated()]
  print(duplicates)

       age          job   marital            education  default housing loan  \
1266    39  blue-collar   married             basic.6y       no      no   no
12261   36      retired   married              unknown       no      no   no
14234   27   technician    single  professional.course       no      no   no
16956   47   technician  divorced          high.school       no     yes   no
18465   32   technician    single  professional.course       no     yes   no
20216   55     services   married          high.school  unknown      no   no
20534   41   technician   married  professional.course       no     yes   no
25217   39       admin.   married    university.degree       no      no   no
28477   24     services    single          high.school       no     yes   no
32516   35       admin.   married    university.degree       no     yes   no
36951   45       admin.   married    university.degree       no      no   no
38281   71      retired    single    university.degree       no      no   no

         contact month day_of_week  ...  campaign  pdays  previous  \
1266   telephone   may         thu  ...         1    999         0
12261  telephone   jul         thu  ...         1    999         0
14234   cellular   jul         mon  ...         2    999         0
16956   cellular   jul         thu  ...         3    999         0
18465   cellular   jul         thu  ...         1    999         0
20216   cellular   aug         mon  ...         1    999         0
20534   cellular   aug         tue  ...         1    999         0
25217   cellular   nov         tue  ...         2    999         0
28477   cellular   apr         tue  ...         1    999         0
32516   cellular   may         fri  ...         4    999         0
36951   cellular   jul         thu  ...         1    999         0
38281  telephone   oct         tue  ...         1    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
1266   nonexistent          1.1          93.994          -36.4      4.855
12261  nonexistent          1.4          93.918          -42.7      4.966
14234  nonexistent          1.4          93.918          -42.7      4.962
16956  nonexistent          1.4          93.918          -42.7      4.962
18465  nonexistent          1.4          93.918          -42.7      4.968
20216  nonexistent          1.4          93.444          -36.1      4.965
20534  nonexistent          1.4          93.444          -36.1      4.966
25217  nonexistent         -0.1          93.200          -42.0      4.153
28477  nonexistent         -1.8          93.075          -47.1      1.423
32516  nonexistent         -1.8          92.893          -46.2      1.313
36951  nonexistent         -2.9          92.469          -33.6      1.072
38281  nonexistent         -3.4          92.431          -26.9      0.742

       nr.employed    y
1266        5191.0   no
12261       5228.1   no
14234       5228.1   no
16956       5228.1   no
18465       5228.1   no
20216       5228.1   no
20534       5228.1   no
25217       5195.8   no
28477       5099.1   no
32516       5099.1   no
36951       5076.2  yes
38281       5017.5   no

[12 rows x 21 columns]

In [10]:
df_clean = df.drop_duplicates()
print(f"Dataset without duplicates-{df_clean.shape}")

Dataset without duplicates-(41176, 21)

###Handling outliers